<nav class="navbar navbar-expand-md mb-2 navbar-dark" [ngClass]="{'navbar-solid': scroll}">
    <div class="container" id="container-nav">
      <div>
        <a class="navbar-brand" routerLink="/home" routerLinkActive="router-link-active" >VELVET</a>
      </div>
   

      <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse menu" id="navbarSupportedContent">

        <div class="d-flex flex-row m-2">
          <label for="search" class="search-label" (click)="buscarPelicula( txtBuscar.value)">
            <img src="./assets/img/search.png" alt="icono busqueda" class="search-icon">
          </label>
          <input #txtBuscar
                (keyup.enter)="buscarPelicula( txtBuscar.value )"
                class="form-control"
                id="search-input"
                type="search" 
                placeholder="Buscar película..." 
                aria-label="Search">
          
        </div>
      </div>

    </div>
    
    
</nav>
