h3{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.poster{
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.8);
    margin: 5px;
    max-height: 350px;
    padding: 0;
    cursor: pointer;
}


@media (max-width: 768px){
    #estrellas{
        margin-left: 15vw;
        margin-right: 10vw;
        padding: 0;
        width: 50vw;
    }
    .rating{
        margin-right: 15vw;
        padding: 0;
        width: fit-content;
    }
}


