@media (min-width: 1400px){
    .grid-container{
        margin-left: 8vw;
        margin-right: 8vw;
    }
}

h3{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
.poster{
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.8);
    margin: 5px;
    max-height: 350px;
    padding: 0;
    cursor: pointer;
}

.rating-pelicula{
    padding: 10px;
    padding-top: 0;
}


@media (max-width: 768px){
    #estrellas{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 50vw;
    }

    .rating{
        margin-right: 5vw;
        padding: 0;
        width: fit-content;
    }
}


@media (max-width: 600px){
    #estrellas{
        margin-left: 15vw;
        margin-right: 8vw;
        padding: 0;
        width: 50vw;
    }
    .rating{
        margin-right: 5vw;
        padding: 0;
        width: fit-content;
    }
}




