.cuerpo-pelicula{
    margin: 0px 5vw 5vh 8vw;
}

@media (min-width: 1400px){
    .cuerpo-pelicula{
        margin: 0px 5vw 5vh 5vw;
    }
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

p{
    display: inline;
}

.img-thumbnail{
    border: 0 none !important;
    box-shadow: none !important;
}

.poster-recomendada{
    max-height: 150px;
    margin-right: 50px;
    cursor: pointer;
}

.info-pelicula{
    max-width: 800px;
    min-width: 200px;
}

.contenedor-recomendadas{
    max-width: 90vw;
}

iframe{
    width: 90vw;
    height: 40vh;
    max-width: 400px;
}

#recomendadas{
    width: 90vw;
    max-width: 90vw;
}


.pelicula-recomendada{
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
}

@media (max-width:1000px){
    .cuerpo-pelicula{
        margin-left: auto;
        margin-right: auto;
    }
    .recomendadas-wrapper{
        flex-wrap: wrap;
    }

    .pelicula-recomendada{
        width: 12vw;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
    }
}

@media (max-width:768px){

    .recomendadas-wrapper{
        flex-wrap: wrap;
    }

    .pelicula-recomendada{
        width: 15vw;
        height: max-content;
        margin-left: 0;
        margin-right: 10vw;
        padding-top: 0;
        align-self: center;
    }
    .poster-pelicula{
        align-self: center;
        width: 87vw;
        max-height: max-content;
        margin-bottom: 5vh;
    }

    #recomendadas{
        width: 100vw;
    }

    .overview{
        padding-right: 35px;
    }
    
}

@media (max-width:600px){
    .cuerpo-pelicula{
        margin: 0px 2vw 5vh 0;
    }

    .poster-pelicula{
        width: 80%;
        max-width: 80vw;
        max-height: max-content;
        margin-right: auto;
        margin-left: auto;
    }

    iframe{
        width: 90vw;
        height: 40vh;
    }

    .overview{
        padding-right: 50px;
    }

    .recomendadas-wrapper{
        flex-wrap: wrap;
        margin-left: 8vw;
    }

    .pelicula-recomendada{
        width: 20vw;
        height: 300px;
        margin-right: 17vw;
    }
}
