<!-- Slider main container -->
<div class="swiper-container main-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div *ngFor="let movie of movies" 
            [ngStyle]="{
                'background-size': 'cover',
                'background-image': 'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'
            }
            "
            class="swiper-slide main-swiper-slide animate__animated animate__fadeIn">
          <div  class="movie-description">
              <h3>{{movie.title}}</h3>
                <p>
                  {{movie.overview | slice:0:350}}...
                </p>
                <a class="btn btn-sm btn-success ver-mas" 
                type="button"
                (click)="onClickPelicula( movie )">Ver más</a>
          </div>
      </div>
      
      ...
    </div>
  
    <!-- If we need navigation buttons -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>

  </div>
