::-webkit-scrollbar{
    background-color: #272a36;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #bd1833;
    border-radius: 5px;
}

html{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body {
    background-color: #040816;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

.cuerpo{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr{
    color: white;
}



.btn-success {
    border-color: #bd4c5f !important;
    background-color: #bd4c5f ;
}

.btn-success:hover {
    border-color: #bd4c5f !important;
    background-color: #bd1833;
}

.btn-outline-success {
    border-color: #bd4c5f !important;
    color: #bd4c5f !important;
}

.btn-outline-success:hover {
    background-color: #272a36;
    color: white !important;
}

.block {
    display:block;
}
